<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SR_M_MS</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
	<div class="topnav">
	  <a href="/../">Home</a>
	  <a href="/projeto/novo">Cadastro Projeto</a>
	  <a href="/projeto/listar">Lista Projeto</a>
	  <a class="active" href="#">Métrica</a>
	</div>
	
	<div class="starter-template" >
		<div class="align-left-template">
			<form method="post">
		    	<div th:if="${mensagem != null}">
					<div th:if="${erro}">
						<span th:text="${mensagem}" style="color: red" ></span>
					</div>
					<div th:unless="${erro}">
						<span th:text="${mensagem}" style="color: blue" ></span>
					</div>
				</div>
				
				<h1><span>Versões base x atual</span></h1>
				<table>
					<tr>
		    			<th>Versão</th>
		    			<th>Média CBO</th>
		    			<th>Média RFC</th>
		    			<th>Média LCOM4</th>
		    			<th>Média LCOM4<br/> (Sem classes especiais)</th>
		    		</tr>
					<tr th:each="versao : ${versoes}" style="text-align: right;" >
		    			<td>
			    			<span th:text="${versao.codigoCompleto}"></span>
			    		</td>
			    		<td>
			    			<span th:text="${versao.cbo}"></span>
			    		</td>
			    		<td>
			    			<span th:text="${versao.rfc}"></span>
			    		</td>
			    		<td>
			    			<span th:text="${versao.lcom4}"></span>
			    		</td>
			    		<td>
			    			<span th:text="${versao.lcom4SemEntidades}"></span>
			    		</td>
		    		</tr>
		    	</table>
				
		        <h1><span th:text="'Detalhamento versão: '+ ${versao.codigoCompleto}"></span></h1>
		        <hr>
		        <span th:if="${classes == null || classes.empty}" >Sem projetos cadastrados</span>
			    <table >
		    		<tr>
		    			<th>Classe</th>
		    			<th>CBO</th>
		    			<th>RFC</th>
		    			<th>LCOM</th>
		    			<th>LCOM sem entidade ou utilitário</th>
		    		</tr>
			    	<tr th:each="classe : ${classes}"
			    		th:style="${classe.entidade} ? 'background-color: beige;' : 
    						 (${classe.utilitaria} ? 'background-color: purple; color: white;' : '')" > 
			    		<td>
			    			<span th:text="${classe.id} + ':' + ${classe.nome}"></span>
			    		</td>
			    		
			    		<td style="text-align: right;" >
			    			<span th:text="${classe.cbo}"></span>
			    		</td>
			    		<td style="text-align: right;" >
			    			<span th:text="${classe.rfc}"></span>
			    		</td>
			    		<td style="text-align: right;">
			    			<span th:text="${classe.lcom4}"></span>
			    		</td>
			    		<td style="text-align: right;">
			    			<span th:if="${classe.entidade || classe.utilitaria}" th:text="'0'"></span>
			    			<span th:if="${classe.entidade == false 
			    				&& classe.utilitaria == false}" th:text="${classe.lcom4}"></span>
			    		</td>
			    	</tr>
			    	
			    	<tr><td colspan="5"></td></tr>
			    	
			    	<tr>
		    			<th>
			    			<span>(Qtd soma métrica)/(Qtd classes envolvidas)</span>
			    		</th>
			    		
			    		<th >
			    			<span th:text="${cbo} + '/' + ${numeroClasses}"></span>
			    			<br />
			    			<span th:text="' (' + ${mediaCbo} + ')'"></span>
			    		</th>
			    		<th >
			    			<span th:text="${rfc} + '/' + ${numeroClasses}"></span>
			    			<br />
			    			<span th:text="' (' + ${mediaRfc} + ')'"></span>
			    		</th>
			    		<th>
			    			<span th:text="${lcom4} + '/' + ${numeroClasses}"></span>
			    			<br />
			    			<span th:text="' (' + ${mediaLcom4} + ')'"></span>
			    		</th>
			    		<th>
			    			<span th:text="${lcom4SemEntidade} + '/' + ${numeroClassesSemEntidade}"></span>
			    			<br />
			    			<span th:text="' (' + ${mediaLcom4SemEntidade} + ')'"></span>
			    		</th>
		    		</tr>
			    	
			    </table>
			    <br />
			</form>
		</div>
	</div>
</body>
</html>